force-app/main/default/flows/Member_Inquiries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>benefitsinquiry</name>
        <choiceText>Benefits Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>claimsinquiry</name>
        <choiceText>Claims Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claims Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>InquiryAddressed</name>
        <choiceText>Inquiry Addressed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>none</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;-- None --&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>notinterested</name>
        <choiceText>Not Interested Anymore</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>other</name>
        <choiceText>&lt;span style=&quot;color: rgb(38, 38, 38); background-color: rgb(255, 255, 255);&quot;&gt;Other&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Create a Follow Up Task</description>
        <name>Create_a_Follow_Up_Task1</name>
        <label>Create a Follow Up Task</label>
        <locationX>1136</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_a_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_a_follow_up_task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Create a Task</label>
        </rules>
    </decisions>
    <description>Guided workflow for logging a member inquiry with or without a follow up task</description>
    <!--<dynamicChoiceSets>
        <name>closedreason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PXPAYER_Closed_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>-->
    <formulas>
        <description>Closed Reason value on the case</description>
        <name>closedReasonReturn</name>
        <dataType>String</dataType>
        <expression>IF({!Close_the_case_automatically}==true, &apos;Completed&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>empty</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;</expression>
    </formulas>
    <formulas>
        <name>norecord</name>
        <dataType>String</dataType>
        <expression>{!norecord}</expression>
    </formulas>
    <formulas>
        <name>null</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;</expression>
    </formulas>
    <formulas>
        <name>ownerId</name>
        <dataType>String</dataType>
        <expression>{!userId}</expression>
    </formulas>
    <formulas>
        <name>past60min</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 1/24</expression>
    </formulas>
    <formulas>
        <name>statusReturn</name>
        <dataType>String</dataType>
        <expression>IF({!Close_the_case_automatically}==true, &apos;Closed&apos;, IF({!Escalate_the_case}==true,&apos;Escalated&apos;,&apos;In Progress&apos;))</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Member Inquiries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Member Inquiries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Case</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>711</locationX>
        <locationY>73</locationY>
        <assignRecordIdToReference>createdCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
       <!-- <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>-->
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <!--<inputAssignments>
            <field>PXPAYER_Closed_Reason__c</field>
            <value>
                <elementReference>closedReasonReturn</elementReference>
            </value>
        </inputAssignments>-->
        <!--<inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122D000000lQQr</stringValue>
            </value>
        </inputAssignments>-->
        <!--<inputAssignments>
            <field>Service_Recipient__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>-->
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>statusReturn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>typeinquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>typeinquiry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1345</locationX>
        <locationY>72</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <!--<inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>-->
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Person Account</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>455</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Inquiry</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>857</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parent_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createdCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Type_of_Inquiry</name>
        <label>Type of Inquiry</label>
        <locationX>583</locationX>
        <locationY>55</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>memberinfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Member Name: &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Get_Account.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>typeinquiry</name>
            <choiceReferences>none</choiceReferences>
            <choiceReferences>claimsinquiry</choiceReferences>
            <choiceReferences>benefitsinquiry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Inquiry is primarily about</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_the_case_automatically</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Close the case automatically</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Escalate_the_case</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Escalate the case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Close_the_case_automatically</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_for_Closing</name>
            <choiceReferences>InquiryAddressed</choiceReferences>
            <choiceReferences>notinterested</choiceReferences>
            <choiceReferences>other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason for Closing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Close_the_case_automatically</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_a_follow_up_task</name>
            <dataType>Boolean</dataType>
            <fieldText>Create a follow up task</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Close_the_case_automatically</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_a_follow_up_task</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_a_follow_up_task</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Follow up task due date should not be in the past.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Due_Date} &gt;= {!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_a_follow_up_task</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>130</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>983</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Create_a_Follow_Up_Task1</targetReference>
        </connector>
        <flowName>Update_Parent_Case</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>createdCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emptyDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getParent1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nowtime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>parentcaseid2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
