force-app/main/default/flows/Update_Parent_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Check whether the returned interaction (parent case) that is closed</description>
        <name>Found_a_closed_interaction_parent_case</name>
        <label>Found a closed interaction (parent case)</label>
        <locationX>1521</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Update_Case_with_Interaction_parent_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>donnothasclosedcase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentcaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>null</elementReference>
                </rightValue>
            </conditions>
            <label>donnothasclosedcase</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether the returned interaction (parent case) that is still open</description>
        <name>Found_an_open_interaction_parent_case</name>
        <label>Found an open interaction (parent case)</label>
        <locationX>1115</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Update_Case_with_Interaction_parent_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Interaction_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parentcaseId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>null</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Closed_Interaction_Cases</targetReference>
            </connector>
            <label>No Interaction Case</label>
        </rules>
    </decisions>
    <description>Update the service cases with the interaction cases testing</description>
    <formulas>
        <name>null</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;</expression>
    </formulas>
    <formulas>
        <name>pass60min</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 1/24</expression>
    </formulas>
    <interviewLabel>Update Parent Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Parent Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_case</name>
        <label>get case</label>
        <locationX>392</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Interaction_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Determine the closed interaction case that will be set as the parent case</description>
        <name>Get_Closed_Interaction_Cases</name>
        <label>Get Closed Interaction Cases</label>
        <locationX>1513</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_a_closed_interaction_parent_case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <!--<filters>
            <field>PXPAYER_Call_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>nowtime</elementReference>
            </value>
        </filters>
        <filters>
            <field>PXPAYER_Call_Start__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>pass60min</elementReference>
            </value>
        </filters>-->
        <object>Case</object>
        <outputAssignments>
            <assignToReference>parentcaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Determine the open interaction case that will be set as the parent case</description>
        <name>Get_Open_Interaction_Cases</name>
        <label>Get Open Interaction Cases</label>
        <locationX>589</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_an_open_interaction_parent_case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>pass60min</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <!--<filters>
            <field>PXPAY_Interaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>-->
        <object>Case</object>
        <outputAssignments>
            <assignToReference>parentcaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Update the case with the interaction (parent case)</description>
        <name>Update_Case_with_Interaction_parent_case</name>
        <label>Update Case with Interaction (parent case)</label>
        <locationX>1160</locationX>
        <locationY>476</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>parentcaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>46</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>get_case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emptydate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nowtime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>parentcaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
